*, *::after, *::before {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif
}

#app, #app-container, html, body, .routes-container {
  height: 100%;
}

.header__navbar {
  height: 95px;
  background-color: #346cb0;
  display: flex
}

.login-page {
  height: 100%;
}

.login-form {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: flex-end;
  padding-right: 200px;
}

.login-form__input {
  margin-right: 10px;
  height: 24px;
  width: 180px;
  padding: 6px 10px 6px 10px;
  font-size: 14px;
}

.login-form__button {
  display: inline-block;
  border-radius: 30px;
  padding: 13px;
  background-color: white;
  border: 1px solid #794eb5;
  margin-left: 5px;
  color: #794eb5;
  font-weight: bold;
  font-size: 14px;
}

.login-form__button:hover {
  background-color: #794eb547;
}

.login-page {
  display: flex;
  width: 100%;
  position: absolute;
}

.login-page__section--left {
  width: 52%;
  height: 100%;
  background-color: #794eb5;
}

.login-page__section--right {
  width: 48%;
  padding-top: 50px;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-left: 25px;
  margin-right: 25px;
}

.new-account {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-right: 25px;
}

.new-account__text {
  font-weight: bold;
  font-size: 25px;
  font-family: arial;
  padding-top: 80px;
}

.signup-form {
  width: 100%;
}

.signup-form__form {
  display: flex;
  flex-direction: column;
  padding-top: 50px;
  align-items: center;
}

.signup-form__form button {
  margin-top: 20px;
  padding: 12px;
  width: 50%;
  border-radius: 10px;
  font-weight: bold;
  font-size: 14px;
  background-color: #794eb5;
  color: white;
}

.signup-form__form button:hover {
  background-color: #503277
}

.signup-form__input--names {
  display: flex;
  width: 100%;
}

.signup-form__input {
  margin: 15px 0px 15px 0px;
  border: transparent;
  border-bottom: 1px solid#794eb5;
  background-color:  #eff2f580;
  font-size: 16px
}

.signup-form__input--email, .signup-form__input--password {
  width: 95%;
  padding: 14px;
  font-size: 16px
}

.signup-form__input--first-name {
  width: 50%!important;
  padding: 14px;
  margin-right: 16px
}

.signup-form__input--second-name {
  width: 50%!important;
  margin-left: 10px;
  padding: 16px;
}
